.material-icon {
   font-size: 16px;
}

.datatable_container {
   background-color: var(--dt-background-color-container);
   border-radius: var(--dt-border-radius);
   color: var(--dt-text-color);
   width: 100%;
   margin: 0 auto;
   font-size: 12px;
}

.datatable_container .header_tools {
   border-bottom: solid 1px var(--dt-border-color);
   padding: var(--dt-padding);
   display: flex;
   align-items: baseline;
}

.datatable_container .header_tools .search {
   width: 30%;
}

.datatable_container .header_tools .search .search-input {
   width: 100%;
   background-color: var(--dt-input-background-color);
   display: block;
   box-sizing: border-box;
   border-radius: var(--dt-border-radius);
   border: var(--dt-border-color);
   color: var(--input-color);
}

.datatable_container .header_tools .tools {
   width: 70%;
}

.datatable_container .header_tools .tools ul {
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: start;
   align-items: baseline;
}

.datatable_container .header_tools .tools ul li {
   display: inline-block;
   margin: 0 var(--dt-padding-xs);
   align-items: baseline;
}

.datatable_container .footer_tools {
   padding: var(--dt-padding);
   display: flex;
   align-items: baseline;
}

.datatable_container .footer_tools .list_items {
   width: 50%;
}

.datatable_container .footer_tools .pages {
   margin-left: auto;
   margin-right: 0;
   width: 50%;
}

.datatable_container .footer_tools .pages ul {
   padding: 0;
   margin: 0;
   display: flex;
   align-items: baseline;
   justify-content: flex-end;
}

.datatable_container .footer_tools .pages ul li {
   display: inline-block;
   margin: 0 var(--dt-padding-xs);
}

.datatable_container .footer_tools .pages ul li button,
.datatable_container .header_tools .tools ul li button {
   color: var(--dt-text-color-button);
   width: 100%;
   box-sizing: border-box;
   border: 0;
   border-radius: var(--dt-border-radius);
   background: transparent;
   cursor: pointer;
}

.datatable_container .footer_tools .pages ul li button:hover,
.datatable_container .header_tools .tools ul li button:hover {
   background: var(--dt-bg-active-button);
   color: var(--dt-text-color-active-botton);
}

.datatable_container .footer_tools .pages ul li span.active {
   background-color: var(--dt-bg-color);
   border-radius: var(--dt-border-radius);
}

.datatable_container .footer_tools .pages ul li button,
.datatable_container .footer_tools .pages ul li span,
.datatable_container .header_tools .tools ul li button {
   padding: var(--dt-padding-s) var(--dt-padding);
}

.datatable_container .datatable {
   border-collapse: collapse;
   width: 100%;
}

.datatable_container .datatable,
.datatable_container .datatable th,
.datatable_container .datatable td {
   padding: var(--dt-padding) var(--dt-padding);
}

.datatable_container .datatable th {
   font-weight: border;
   text-align: left;
   border-bottom: solid 1px var(--dt-border-color);
}

.datatable_container .datatable td {
   border-bottom: solid 1px var(--dt-border-color);
}

.datatable_container .datatable tbody tr:nth-child(even) {
   background-color: var(--dt-even-row-color);
}

.datatable_container .datatable tbody tr:hover {
   background-color: var(--dt-hover-cell-color);
}

.datatable_container .datatable tbody tr .available::after,
.datatable_container .datatable tbody tr .away::aftet,
.datatable_container .datatable tbody tr .offline::after {
   display: inline-block;
   vertical-align: middle;
}

.datatable_container .datatable tbody tr .available::after {
   content: 'Avalible';
   color: var(--dt-status-available-color);
}

.datatable_container .datatable tbody tr .away::after {
   content: 'Away';
   color: var(--dt-status-away-color);
}

.datatable_container .datatable tbody tr .offline::after {
   content: 'Online';
   color: var(--dt-status-offline-color);
}

.datatable_container .datatable tbody tr .available::before,
.datatable_container .datatable tbody tr .away::before,
.datatable_container .datatable tbody tr .offline::before {
   content: '';
   display: inline-block;
   width: 10px;
   height: 10px;
   margin-right: 10px;
   border-radius: 50%;
   vertical-align: middle;
}

.datatable_container .datatable tbody tr .available::before {
   background-color: var(--dt-status-available-color);
}

.datatable_container .datatable tbody tr .away::before {
   background-color: var(--dt-status-away-color);
}

.datatable_container .datatable tbody tr .offline::before {
   background-color: var(--dt-status-offline-color);
}